section{
    display: flex;
    justify-content: center;
    margin:70px;
}
form{
    background-color: cadetblue;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    width: 700px;
}
h3{
    display: flex;
    justify-content: center;
}
input{
    display:block;
    margin-bottom:1em;
}
.duration{
    display: flex;
    justify-content: space-around;

}
input:checked + label{
    color:black;
}
.textbox{
    width: 444px;
    height: 100px;
}
.button{
    display: flex;
    justify-content: center;
    margin:20px;
}
button{
    background-color:dimgray;
    color: aliceblue;
    height: 50px;
    width: 200px;
    font-size: large;
    font-family: 'Kanit', sans-serif;
}
@media(max-width: 450px){
    section{
        flex-direction: column;
        margin: 0px;
    }
    form{
        max-width: 425px;
    }
    .textbox{
        width: 417px;
    }
}