.show{
    display: flex;
    flex-direction:row;
    margin: 50px;
}
.detail{
    background-color:darkslategray;
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:70px;
    margin-right: 70px;
    width: 1250px;
}
.detail p{
    font-size: larger;
    font-family: 'Kanit', sans-serif;
}
button{
    background-color: darkslategray;
    height:70px;
    width: 190px;
    color:aliceblue;
    font-size: large;
    font-family: 'Kanit', sans-serif;
}
hr{
    background-color:cadetblue;
    height: 2px;
}
@media(max-width: 450px){
    .detail{
        flex-direction: column;  
        height: 400px;
        width: 425px;
    }
    .show{
        flex-direction: column;
        margin: 0px;
        margin-top: 20px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
}